<div class="title-container">
    <div>  
      <h2>Events in your city</h2>
    </div>
</div>

  <% results.forEach((event, index) => { %>
    <% if (event.active) { %>
    <div class="event-container">
      <div class="event-description"> 
        <p class="event-date"><%= formattedDates[index] %></p> 
        <h3><%= event.title %></h3>
        <p><%= event.description %></p>
      </div>
      <div class="event-attend-details">   
        <p><%= event.attendees.length %> people will assist</p>
        <a href="/events/<%= event._id%>" class="btn-main">View details</a>
      </div>
    </div>
    <% } %>
  <% }) %>
